.section-testimonials h2 {
    font-size: var(--font-size-h2-big);
}

.section-testimonials .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 119%;
    text-align: center;
    color: #060606;
    width: 65%;
    margin: 0 auto;
}

.section-title {
    color: #060606;
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.features-row {
    justify-content: space-between;
}

.feature {
    text-align: center;
    padding: 10px;
}

.feature-ico {
    width: 72px;
    height: 72px;
    margin: 0 auto 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-ico img {
    width: 100%;
    height: auto;
}

.feature-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 149%;
    color: #fff;
}

.feature p {
    font-size: 21px;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin: 0;
}

.section-steps {
    background: rgba(246, 246, 246, 0.8);
    padding: 270px 0px 90px 0px;
    margin-top: -150px;
}

.section-steps__title {
    font-size: var(--font-size-h2-extra);
    line-height: 123%;
    letter-spacing: -0.03em;
}

.cta-section {
    padding: 146px 0px 80px 0px;
}

.section-pricing h2 {
    font-size: var(--font-size-h2-big);
}

.section-pricing .section-subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #181818;
}

.section-featured {
    position: relative;
    padding: 150px 0;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}


.features-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 40px;
    color: #fff;
    margin-top: 24px;
}

.feature-item {
    display: flex;
    gap: 11px;
}

.feature-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.feature-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #fff
}

.section-featured {
    background: linear-gradient(to right, #0e0d0b 0%, #0e0d0b 40%, rgba(14, 13, 11, 0) 100%);
}

.section-featured h2 {
    font-size: var(--font-size-h2-big);
    line-height: 120%;
    font-weight: var(--font-weight-bold);
    color: #fff;
    margin-bottom: 24px;
}

.section-featured .featured-box {
    display: flex;
    position: relative;
}

.section-featured .featured-content {
    width: 45%;
    position: relative;
    z-index: 100;
}

.section-featured .featured-image {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.section-featured .featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}