.section-testimonials h2{
    font-size: var(--font-size-h2-big);
}
.section-testimonials .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 119%;
    text-align: center;
    color: #060606;
    width: 65%;
    margin: 0 auto;
}
.section-title {
    color: #060606;
    text-align: center;
    font-weight: var(--font-weight-bold);
}
.features-row {
    justify-content: space-between;
}

.feature {
    text-align: center;
    padding: 10px;
}

.feature-ico {
    width: 56px;
    height: 56px;
    margin: 0 auto 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-ico img {
    width: 100%;
    height: auto;
}

.feature-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #000;
    padding: 0 1em;
    text-align: center;
    margin: 8px auto;
}

.feature p {
    font-size: 16px;
    color: #6B6B6E;
    line-height: 1.4;
    margin: 0;
}
.section-steps {
    background: rgba(246, 246, 246, 0.8);
    padding: 270px 0px 90px 0px;
    margin-top: -150px;
}
.cta-section {
    padding: 146px 0px 80px 0px;
}