.section-testimonials h2 {
    font-size: var(--font-size-h2-big);
}

.section-testimonials .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 119%;
    text-align: center;
    color: #060606;
    width: 65%;
    margin: 0 auto;
}

.section-title {
    color: #060606;
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.features-row {
    justify-content: space-between;
}

.feature {
    text-align: center;
    padding: 10px;
}

.feature-ico {
    width: 72px;
    height: 72px;
    margin: 0 auto 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-ico img {
    width: 100%;
    height: auto;
}

.feature-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #000;
    text-align: center;
    margin: 20px auto;
}

.feature p {
    font-size: 21px;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin: 0;
}

.section-steps {
    background: rgba(246, 246, 246, 0.8);
    padding: 270px 0px 90px 0px;
    margin-top: -150px;
}

.section-steps__title {
    font-size: var(--font-size-h2-extra);
    line-height: 123%;
    letter-spacing: -0.03em;
}

.cta-section {
    padding: 146px 0px 80px 0px;
}