/* BASE BUTTON */
.btn-joinx {
    display: inline-block;
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: "Satoshi", sans-serif;
}

/* PRIMARY GREEN BUTTON */
.btn-joinx--primary {
    background: linear-gradient(180deg, #caf080 0%, #93b848 100%);
    color: #151518;
    border: none;
}

.btn-joinx--primary:hover {
    color: #000;
}

/* OUTLINE BUTTON */
.btn-joinx--outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-joinx--outline:hover {
    background: rgba(255, 255, 255, 0.12);
    color: #fff;
}

.btn-haeder {
    font-weight: 500;
    line-height: 120%;
}
.btn-signup {
    border: 2px solid #fff;
}
.btn-signin {
    background: radial-gradient(70.71% 70.71% at 50% 50%, #dfffa0 0%, #aad25a 100%);
    color: #131313;
}


@media (max-width: 991.98px) {
    .btn-joinx {
        width: 100%;
    }
}