.accordion-faq {
    width: 70%;
    margin: 0 auto;
}

.accordion-faq .accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion-faq .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

.accordion-faq .accordion-button {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000;
}

.accordion-faq .accordion-body {
    color: var(--color-black);
}

.accordion-faq .accordion-item {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.contact-buttons {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.contact-buttons__list {
    display: flex;
    justify-content: space-between;
}

/* Базовая кнопка */
.contact-buttons__item {
    min-width: 190px;
    border-radius: 16px;
    padding: 25px 20px;
    background: #131313;
    font-weight: 700;
    font-size: 20px;
    line-height: 72%;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

/* WhatsApp — всегда зелёная по умолчанию */
.contact-buttons__item--whatsapp {
    background: linear-gradient(180deg, #caf080 0%, #93b848 100%);
    color: #171717;
}

/* Любая кнопка при ховере — становится зелёной */
.contact-buttons__item:hover {
    background: linear-gradient(180deg, #caf080 0%, #93b848 100%);
    color: #171717;
}

/* Когда ХОВЕР НА ЛЮБОЙ другой кнопке — WhatsApp становится чёрной */
.contact-buttons__list:hover .contact-buttons__item--whatsapp {
    background: #131313;
    color: #fff;
}

/* Но если ховер именно на WhatsApp — она снова зелёная */
.contact-buttons__item--whatsapp:hover {
    background: linear-gradient(180deg, #caf080 0%, #93b848 100%) !important;
    color: #171717 !important;
}
