/* HERO (BEM) - mobile-first */
:root {
  --hero-overlay: linear-gradient(90deg, rgba(0, 0, 0, 0.179), rgba(0, 0, 0, .55));
}

.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: stretch;
  background-image: var(--hero-overlay), url('../img/bg-hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--hero-overlay);
  z-index: 1;
}

.hero__inner {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 110px;
  z-index: 100;
}

.hero__content {
  text-align: center;
  margin: auto;
}

.hero__title {
  font-weight: 800;
  font-size: var(--font-size-h1);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.hero__subtitle {
  color: #dfe2e8;
  font-size: 21px;
  line-height: 140%;
  margin: 24px auto;
  width: 80%;
}

.hero__subtitle strong {
  font-weight: 700;
}

.hero__subtitle--small {
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  color: var(--color-gray-500);
  margin: 0 auto;
  width: 45%;
}

.hero__actions {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.hero__bottom {
  margin: auto auto 0 auto;
  text-align: center;
}

.hero__bottom p {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin: 0 auto 2rem auto;
   width: 80%;
}

.hero__payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 991.98px) {
  .hero {
    min-height: 720px;
  }

  .hero__subtitle {
    font-size: 16px;
    margin-bottom: 24px;
    width: 100%;
  }

  .hero__actions {
    gap: 12px;
    margin-bottom: 24px;
  }
  .hero__inner {
    padding-top: 100px;
  }
  .hero__subtitle--small {
    width: 100%;
  }
  .hero__bottom p {
    width: 100%;
  }
  .hero__payments {
    gap:24px 17px;
  }
  .hero__payments img {
    height: 20px;
  }
}