@media (max-width: 991.98px) {
    .btn-joinx {
        width: 100%;
    }
    .section-testimonials .section-subtitle {
        width: 100%;
    }
    
    .funded-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
    .funded__card--challenge {
        grid-column: 1;
        grid-row:  3 / 3;
    }
    .feature-title {
        font-size: 18px;
    }
    .feature p {
        font-size: 14px;
    }
    .funded__card--evaluation .funded__content-inner {
        flex-direction: column;
        align-items: center;
    }
    .funded__card--evaluation .funded__media {
        margin-left: 0px;
        margin-top: -50px;
    }
    .funded__card--evaluation .funded__media img {
        width: 137px;
        height: 137px;
    }
    .funded__card .funded__content {
        text-align: center;
        width: 100%;
    }
    .funded__card--info {
        padding: 43px 30px;
    }
    .funded__card--evaluation {
        padding: 0px 30px 43px 30px;
    }
    .funded__card--evaluation .funded__title {
        font-size: 32px;
    }
    .funded__card--info .funded__title {
        font-size: 32px;
    }
    .funded__card--challenge .funded__title {
        font-size: 40px;
    }
    .funded__card--challenge {
        padding: 43px 30px;
    }
    .features-box {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

