
.testimonials {
  padding: 60px 0;
}
.testimonial {
  text-align: center;
  position: relative;
}

.testimonial__media {
  position: relative;
    height: 250px;
    display: block;
}

.testimonial__img {
  top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
}

/* Play button (скрыт по умолчанию) */
.testimonial__play {
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

/* Показывать play только на центральном слайде */
.swiper-slide-active .testimonial__play {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;

}
.swiper-slide-active .testimonial__content {
  opacity: 1;
  background-color: #807e7e;
  padding: 10px;
}

/* Text */
.testimonial__content {
  opacity: 0;
}
.testimonial__name {
  font-size: 18px;
  font-weight: 600;
  color:var(--color-accent);
}
.testimonial__country {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

.testimonials__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Navigation arrows */
.testimonials__arrow {
  width: 52px;
  height: 52px;
  background: #AAD25A;
  border-radius: 50%;
  color:white;
}
.testimonials__arrow svg {
  padding: 15px;

}

.testimonials__arrow::after {
  display: none;
}



.certificate-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.certificate-slide a img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-cert-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}