  :root {
  --font-family-base: "Satoshi", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #060606;;

  --color-gray-100: #f7f8fa;
  --color-gray-200: #eef0f3;
  --color-gray-300: #e6e8ec;
  --color-gray-400: #dfe2e8;
  --color-gray-500: #ccc;
  --color-gray-600: #a5a7ad;
  --color-gray-700: #5b5f67;
  --color-gray-800: #202128;
  --color-gray-900: #101114;

  --color-primary: #0b0b0e;
  --color-primary-light: #101114;
  --color-accent: #AAD25A;
  --color-success: #22c55e;
  --color-warning: #f59e0b;

  --color-black-rgb: 10, 10, 10;
  --color-white-rgb: 255, 255, 255;

  /* Typography */
  --font-size-h1: 4.5rem;
  --font-size-h2: 2.25rem;
  --font-size-h2-big:3.125rem;
  --font-size-h3: 1.75rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;

  /* Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Letter-spacing */
  --letter-tight: -0.02em;
  --letter-normal: 0;

  /* Spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-pill: 9999px;

  /* Other */
  --header-height: 4rem;
  --transition-speed: 0.2s;
  --shadow-card: 0 6px 22px rgba(var(--color-black-rgb), .12);
  --vh-full: 100vh;
  --overlay-hero: linear-gradient(180deg, rgba(var(--color-black-rgb), .45), rgba(var(--color-black-rgb), .55));
}

@media (max-width: 1200px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.1rem;
    --font-size-h2-big:3rem;
    --font-size-h3: 1.6rem;
    --font-size-body: 1rem;
  }
}
@media (max-width: 992px) {
  :root {
    --font-size-h1: 2.75rem;
    --font-size-h2-big:2.5rem;
    --font-size-h2: 1.9rem;
    --font-size-h3: 1.45rem;
    --font-size-body: 0.95rem;
  }
}
@media (max-width: 768px) {
  :root {
    --font-size-h1: 2.75rem;
    --font-size-h2: 1.65rem;
    --font-size-h3: 1.3rem;
    --font-size-body: 0.9rem;
  }
}
@media (max-width: 480px) {
  :root {
    --font-size-h1: 2.7rem;
    --font-size-h2-big:2.5rem;
    --font-size-h2: 1.45rem;
    --font-size-h3: 1.2rem;
    --font-size-body: 0.85rem;
  }
}

